$primary-color: #1b1b1b;
$secondary-color: #ff652f;
$title-color: #c70626;
$btn-color: #c70625;
$white-color: #f1f1f1;
$date-color: #cc0000;
$light-color: #1b1b1b;
$light-bgr-color: #f1f1f1;
$dark-color: #f1f1f1;
$dark-bgr-color: #463e3e;