@import './components/config';
@import './components/pages/works';
@import './components/navbar/index';

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  &.light {
    color: $light-color;
    background-color: $light-bgr-color;
  }
  &.dark{
    color: $dark-color;
    background-color: $dark-bgr-color;
  }
}

section.app {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}
